<h2>Articles</h2>
<p> <%= link_to "CreateNew Article", new_article_path %>
</p>

<table>
    <thead>
    <th>title</th>
    <th>description</th>
    <th>Edit</th>
    <th>Show</th>
    <th>Delete</th>
    </thead>
    <% @articles.each do |article| %>
    <tr>
        <td> <%= article[:title] %></td>
        <td> <%= article[:description] %></td>
        <td> <%= link_to 'Edit', edit_article_path(article[:id]) %></td>
        <td> <%= link_to 'Show', article_path(article[:id]) %></td>
        <td> <%= link_to 'Delete', article_path(article[:id]), method: :delete, data:{confirm:"are you sure ?"} %></td>
    </tr>
    <% end %>
</table>